<nav>
   <div class="nav-wrapper">
     <div class="left-content">
       <h6 *ngIf="afficher" style="font-weight: bold; ">Bienvenue   {{nom +' '+ prenom}}</h6>
       <button *ngIf="!afficher" (click)="inscrire()" type="button"> Se connecter</button>
     </div>
     <a href="#" class="brand-logo center">ChefEnPoche</a>
     <div class="right-content">
       <a *ngIf="afficher" (click)="goFavoris()">Mes Favoris</a>
       <button *ngIf="afficher" (click)="this.service2.logOut()">Logout</button>
     </div>
   </div>
 </nav>
<div>
   <app-search-bar (search)="searchRecettes($event)"></app-search-bar>
 </div>
 <div *ngIf="!chercher">
<div style="display: flex; flex-wrap: wrap;gap:80px; margin-right:0px;">
   <app-Recette-item  *ngFor = "let recette of recettes.results"
      [recette] = recette > 
   </app-Recette-item>
   </div>
  </div> 
  <div *ngIf="chercher">
    <div style="display: flex; flex-wrap: wrap;gap:10px; margin-right:0px;">
       <app-item-recherche  *ngFor = "let recette of recettes.results"
          [recette] = recette > 
       </app-item-recherche>
       </div>
      </div> 
