<body>
  <div class="image">
   
  </div>
  <div class="login-container">
      <h1>ChefEnPoche</h1>
      
      <form class="login-form" (ngSubmit)="onSubmit()">
        <p style="text-align: center; font-size: 14px; color: #333;">
          Discover mouthwatering recipes, culinary tips, and food inspiration . Join our community of food enthusiasts today!
      </p>
     
          <label for="email">Email:</label>
          <input [(ngModel)]="email" type="email" id="email" name="email" ngModel required>
          <label for="motDePasse">Mot de passe:</label>
          <input [(ngModel)]="motDePasse" type="password" id="motDePasse" name="motDePasse" ngModel required>
          <button type="submit">Se connecter</button><br>
          Vous n'avez pas de compte? Créez-en un <a (click)="inscription()">S'inscrire</a>
      </form>
  </div>
  <p class ="parg">Welocome to our website!</p>

</body>
