.film-container {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  img{
    height:450px;
    width:300px;
  }
  
  .film-container:hover {
    transform: scale(1.05);
  }
  
  .film-image {
    
    border-bottom: 1px solid #ddd;
    display: block; /* Pour supprimer l'espace sous l'image */
  }
  
  .film-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .film-container:hover .film-overlay {
    opacity: 1;
  }
  
  .film-overlay h3 {
    margin: 0;
  }
  
  /* Ajoutez d'autres styles au besoin */
  
  