<div class="film-details" *ngIf="film">
  <h1 >Détails</h1>
  <div class="flex">
  <img [src]="film.getPoster_Path()" alt="{{ film.getTitle()}}" class="film-image">
  <div class="donn">
   <h5>Description:</h5>
  <p class="Overview">{{film.getOverview()}}</p>
  <h5>Nombre de vote :</h5>
  <p>{{film.getVote()}}</p>
  <h5>date de réalisation :</h5>
  <p>{{film.getRelease_date()}}</p>
</div>
</div>
  <a (click)="goToListFilms()"  class="back-link">Retour</a>
  <a class="back-link">Ajouter au Favoris</a>
</div>

<div class="no-film" *ngIf="!film">
  <h3>Ce film n'existe pas</h3>
</div>

  
