<body>
  <div class="image">
  </div>
  <div class="login-container">
    <h1>ChefInYourPocket</h1>
    <form class="login-form" (ngSubmit)="onSubmit()">
      <p style="text-align: center; font-size: 14px; color: #333;">
        Discover mouthwatering recipes, culinary tips, and food inspiration . Join our community of food enthusiasts today!
      </p>
      <label for="nom">First Name :</label>
      <input [(ngModel)]="nom" name="nom"  required>
      <label for="prenom">Last Name:</label>
      <input  [(ngModel)]="prenom"  name="prenom" required>
      <label for="email">Email :</label>
      <input [(ngModel)]="email" name="email"  required>
      <label for="motDePasse">password :</label>
      <input  [(ngModel)]="motDePasse" type="password" name="motDePasse" required>
      <button type="submit">Sign up</button><br>
      Do you have an account?  <a (click)="connecter()">Sign in</a>
    </form>
  </div>
  <p class ="parg">Sign up to join us!</p>
</body>


